$color_purple: rgb(136, 67, 214);
// $color_bg: rgba(41, 51, 75,.9);
//$color_bg: rgba(229, 231, 236, 0.9);
$color_gold: rgb(209, 187, 61);
$color_orange: rgb(224, 125, 43);
$color_box_shadow: rgb(63, 65, 66);
$color_subsection: rgb(54, 67, 97);
// $color_subsection: rgb(196, 202, 216);
$color_link: rgb(109, 201, 230);
$color_text: rgb(146, 146, 146);
// $color_border: rgba(255,255,255,0.06);
$color_gradient_start: rgba(212, 182, 156, 0.5);
$color_gradient_end: rgba(224, 125, 43, 0.3);
$color_ticker1_0: rgba(209, 187, 61, 0);
$color_ticker1_1: rgba(209, 187, 61, 0.8);
$color_ticker2_0: rgba(136, 67, 214, 0);
$color_ticker2_1: rgba(192, 173, 214, 0.8);
$color_ticker3_0: rgba(224, 125, 43, 0);
$color_ticker3_1: rgba(224, 125, 43, 0.8);
$color_ticker4_0: rgba(109, 201, 230, 0);
$color_ticker4_1: rgba(109, 201, 230, 0.8);

// New colors for change in style
$color_bg: #f8f8f8;
$color_border: #e7e7e7;
