$color_purple: rgb(136, 67, 214);
$color_bg: rgba(41, 51, 75,.9);
$color_gold: rgb(209, 187, 61);
$color_orange: rgb(224, 125, 43);
$color_box_shadow: rgb(63, 65, 66);
$color_subsection: rgb(54, 67, 97);
$color_link: rgb(109, 201, 230);
$color_text: rgb(146, 146, 146);
$color_border: rgba(255,255,255,0.06);

$color_gradient_start: rgba(212, 182, 156, 0.5);
$color_gradient_end: rgba(224, 125, 43, 0.3);

/* html { 
    background: url("../img/NY_stock_exchange_traders_floor_LC-U9-10548-6.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  body{
    background-color: #848573;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(255, 255, 0, 0.3)), 
                url("../img/NY_stock_exchange_traders_floor_LC-U9-10548-6.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
} */

body, html{
    height: 100%;
    margin: 0;
    background: linear-gradient($color_gradient_start, $color_gradient_end),
                url("../img/stockmarketimage.jpeg") no-repeat center;
    background-size: cover;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-temp Link{
    margin: 5px;
}



/* Forms */
.form-container{
    width: 512px;
    display: flexbox;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 40px;
    background-color: $color_bg;
}

.form-title{
    color: $color_purple;
    display: flex;
}

/* Stock Info style */
.stock-info-container{
    width: 512px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background-color: $color_bg;
    padding:20px;
    box-shadow: 5px 5px 5px $color_box_shadow;
}

.stock-info-title{
    color: $color_purple;
    margin: 10px 0;
}

.stock-info-price{
    color: $color_gold;
}

.stock-info-head {
    border-bottom: solid 2px $color_border;
    margin-bottom: 20px;
}
  
.stock-info-body {
    margin: 10px 10px; 
    justify-content: center;
}

.stock-info-left{
    background-color: $color_subsection;
    border-radius: 10px;
    padding: 10px;
}

.stock-info-bottom{
    padding: 10px;
    text-align: left;
    border-top: solid 2px $color_border;
    margin-top: 20px;
}

.display-field-key{
    color: $color_orange;
    font-weight: 700;
}
    
.display-field-value{
    color: $color_text;
}

/* Style for navbar and footer placeholders */
.navbar{
    margin-bottom: 30px;
    background-color: $color_bg;
}
    .navbar a{
        color: $color_gold;
    }

.footer{
    font-size: 40px;
    color: $color_gold;
    background-color: $color_bg;
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0;
    text-align: center;

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

form{
    margin: 15px 10%;
}

input[type="text"]{
    width:100%;
    margin-bottom: 20px;
}

button{
    width: 30%;
}

a{
    color: $color_link;
}