$color_purple: rgb(136, 67, 214);
$color_bg: rgba(41, 51, 75,.9);
$color_gold: rgb(209, 187, 61);
$color_orange: rgb(224, 125, 43);
$color_box_shadow: rgb(63, 65, 66);
$color_subsection: rgb(54, 67, 97);
$color_link: rgb(109, 201, 230);
$color_text: rgb(146, 146, 146);
$color_border: rgba(255,255,255,0.06);
$color_gradient_start: rgba(212, 182, 156, 0.5);
$color_gradient_end: rgba(224, 125, 43, 0.3);

$footer-height: 80px;

#homepageTemp{
    margin: 100px 0;
    color: rgb(255, 255, 255);
}

html, body{
    height: 100%;
    position: relative;
}

body{
    
    margin: 0;
    background: linear-gradient($color_gradient_start, $color_gradient_end),
                url("../img/stockmarketimage.jpeg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.app {
    display: flex;
    flex-direction: column;
}

.main-container{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: $footer-height; /* height of your footer */
}

.body-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Forms */
.form-container{
    width: 512px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background-color: $color_bg;
    padding:20px;
    box-shadow: 5px 5px 5px $color_box_shadow;
    margin: 30px auto;
}

.form-title{
    color: $color_purple;
    display: flex;
    margin-bottom: 20px;
}

/* Stock Info style */
.stock-info-title{
    color: $color_purple;
    margin: 10px 0;
}

.stock-info-price{
    color: $color_gold;
    align-self: center;
    margin: 0 10px;
}

.stock-info-head {
    border-bottom: solid 2px $color_border;
    margin-bottom: 20px;
}
  
.stock-info-body {
    margin: 10px 10px; 
    justify-content: center;
}

.stock-info-left{
    background-color: $color_subsection;
    border-radius: 10px;
    padding: 10px;
}

.stock-info-bottom{
    padding: 10px;
    text-align: left;
    border-top: solid 2px $color_border;
    margin-top: 20px;
}

.stock-info-week52Limits{
    align-self: center;
}

.display-field-key{
    color: $color_orange;
    font-weight: 700;
}
    
.display-field-value{
    color: $color_text;
}

.week-52-low{
    color: rgb(184, 53, 53);
}

.week-52-high{
    color: rgb(41, 163, 41);
}

/* Style for navbar and footer placeholders */
.navbar{
    background-color: $color_bg;
    a{
        color: $color_gold;
    }
    .container{
        justify-content: flex-start;
    }
}

.navbar-brand{
    font-size: 30px;
}

.nav{
    flex-direction: row;
    margin-left: 50px;
    li{
        margin:8px;
    }
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;

    font-size: 20px;
    color: $color_gold;
    background-color: $color_bg;
    height: $footer-height;
    line-height: $footer-height;
    margin: 0;
    text-align: center;
}

form{
    margin: 15px 10%;
}

input[type="text"]{
    width:100%;
    margin-bottom: 20px;
}

button{
    width: 30%;
}

a{
    color: $color_link;
}

/* 
    Media Component Styles (react-bootstrap)
*/
.media{
    border-radius: 10px;
    background-color: $color_subsection;
    margin: 10px;
    padding: 10px;
}

.media-heading{
    color: $color_link;
    font-size: 18px;
}

.media-body{
    p{
        color: $color_text;
        font-size: 14px;
    }
}

.price{
    display: flex;
    flex-direction: row;
    height: 100%;
}
