.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Forms */
.form-container{
  width: 512px;
  display: flexbox;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 40px;
  background-color: rgb(41, 51, 75);
}

.form-title{
  color: rgb(136, 67, 214);
  display: flex;
}

.login_title{
  display: flex;
  margin: 40px auto;
}

/* Stock Info style */
.stock-info-container{
  width: 512px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background-color: rgb(41, 51, 75);
  padding:20px;
  box-shadow: 5px 5px 5px rgb(109, 201, 230);
}

.stock-info-title{
  color: rgb(136, 67, 214);
  margin: 10px 0;
}

.stock-info-body{
  margin: 0 10px;
}

.stock-info-left{
  background-color: rgb(54, 67, 97);
  border-radius: 10px;
  padding: 10px;
}

.stock-info-price{
  color: rgb(209, 187, 61);
}

.display-field-key{
  color: rgb(224, 125, 43);
  font-weight: 700;
}

.display-field-value{
  color: rgb(146, 146, 146);
}



/* Style for navbar and footer placeholders */
.placeholder-style{
  font-size: 40px;
  color: white;
  background-color: rgb(41, 51, 75);
  width: 100%;
  height: 80px;
  line-height: 80px;
  margin-bottom: 30px;
}
.footer{
  margin-top: 30px;
  
}

form{
  margin: 15px 10%;
}

input[type="text"]{
  width:100%;
  margin-bottom: 20px;
}

button{
  width: 30%;
}

a{
  color: rgb(109, 201, 230);
}